<section class="section section--light section-review">
    <article class="review">
        <img class="review__image" src="./img/spain@1x.png" alt="Spain" srcset="./img/spain@1x.png 1x, ./img/spain@2x.png 2x">
        <div class="review__content">
            <h2 class="section-title">Барселона — обзор города</h2>
            <p class="review__description">Барселона с её золотистыми пляжами, архитектурными шедеврами Гауди, многочисленными фестивалями и гастрономическим разнообразием понравилась мне в первый же день пребывания и стала местом, в котором...</p>
            <a href="/" class="review__more">Читать дальше</a>
        </div>
    </article>
</section>