$base-color: #F9F7F2;
$bright-color: #FF4641;
$light-color: #EBE9E4;
$dark-color: #212121;
$darker-color: #000000;
$orange-color: #FC4F1E;
$lighter-color: #ECECEC;
$light-gray-color: #A3A2A2;
$lighter-gray-color: #A0A0A0;
$main-color: #FFFFFF;
